---
import Layout from "../layouts/Layout.astro";
import BlocksContainer from "../components/BlocksContainer.astro";
import Project from "../components/Project.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <main class="max-w-2xl flex flex-col mx-auto px-5">
    <BlocksContainer />
    <h2 class="mb-2.5 font-bold text-lg">Hello, I'm Maciej Sawiński</h2>
    <p class="mb-10">
      I'm a software developer specializing in full-stack web development, with
      an interest in AI and blockchain, as well as topics like urbanism,
      transportation and gaming.
    </p>
    <h2 class="mb-2.5 font-bold text-lg">Recent projects</h2>
    <div class="mb-10">
      <Project
        name="owlchain analytics"
        description="Svelte frontend app with redis caching and backend infrastructure for data fetching"
        url={["https://www.owlchain.xyz/"]}
        github_url={["https://github.com/maciejsawinski/owlchain-front"]}
        img_src="owlchain.png"
      />
      <Project
        name="kv-json-cache"
        description="Npm package written in typescript"
        url={[]}
        github_url={["https://github.com/maciejsawinski/kv-json-cache"]}
        img_src="code.png"
      />
      <Project
        name="bybarbro"
        description="Vue.js/nuxt app with a hosted Strapi CMS service"
        url={["https://bybarbro.no/"]}
        github_url={[]}
        img_src="bybarbro.png"
      />
      <Project
        name="tik"
        description="React/next.js frontend app deployed on a raspberrypi with a backend service"
        url={[]}
        github_url={[
          "https://github.com/maciejsawinski/tik-frontend",
          "https://github.com/maciejsawinski/tik-backend-space",
        ]}
        img_src="tik.png"
      />
    </div>
    <h2 class="mb-2.5 font-bold text-lg">Experience</h2>
    <p class="mb-10">
      I have worked as a PHP developer for almost two years. Worked mostly on
      ecommerce projects with Wordpress, PrestaShop and Magento. Currently, I am
      dedicated to freelancing and developing full-stack JavaScript/TypeScript
      apps using a wide range of technologies. During my free time, I am <span
        class="italic">trying</span
      > to learn about AI, machine learning.
    </p>
    <h2 class="mb-2.5 font-bold text-lg">Contact</h2>
    <div class="mb-10 grayscale hover:grayscale-0">
      <a href="https://github.com/maciejsawinski/" target="_blank">
        <Button name="github" icon="github" />
      </a>
      <a
        href="https://www.linkedin.com/in/maciej-sawi%C5%84ski-90a9aa119/"
        target="_blank"
      >
        <Button name="linkedin" icon="linkedin" />
      </a>
      <a
        href="mailto:macsawinski@gmail.com?subject=Hey%20Maciej"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Button name="email" icon="email" />
      </a>
    </div>
  </main>
</Layout>
